*{
    margin:2vh;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(#1D75A8, #35D46A);
    font-family: sans-serif;
    color:#f2f2f2;
}
.location, .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}

.aqi{
    border: 1vh dotted white;
    padding: 10vh;
}

.input{
    display: block;
}